<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573759514661-gdres04hp23jkishohl4166l55eh08o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573759514661-gdres04hp23jkishohl4166l55eh08o8</string>
	<key>API_KEY</key>
	<string>AIzaSyCRuYXgRrbvlrqk2NbfZez6Bbka55SEysg</string>
	<key>GCM_SENDER_ID</key>
	<string>573759514661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandglassapp</string>
	<key>PROJECT_ID</key>
	<string>sandglass-54031</string>
	<key>STORAGE_BUCKET</key>
	<string>sandglass-54031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573759514661:ios:4d2e356f734f64dc2377cc</string>
</dict>
</plist>